streamlit==1.64.0

PyPDF2==3.0.1
python-docx==1.2.0

numpy>=1.26,<3.0
pandas>=2.2,<3.0
scikit-learn>=1.5,<2.0

spacy>=3.8,<4.0
gensim==4.4.0

sentence-transformers==6.1.0
pytest>=7.4

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl